<h1>Blogs</h1>
<h4>Author Name: <%= @user.name %><h6>
<ul>
  <% @articles.each do |ar| %>
    <li><%= link_to ar.title,article_path(@user.username,ar.slug) %></li>
  <% end %>
</ul>
<% if current_user.id == @user.id %>
  <%= link_to 'New', "#{@user.username}/articles/new", class:"btn btn-primary" %>
<% end %>
